{% extends "base.html" %}

<head>
    <link rel="icon" href="../static/images/favicon.png">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    {% block title %}Oops!{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

{% block content %}

<style>


/* Maxim Page*/

.ErrorChatbot{
    display: flex;
    padding-left: 20%;
    align-items: center;
 }

</style>


    </script>

  <section class="ErrorChatbot">
      <img src= "../static/images/ErrorChatbot2.png" class="MaximImage">
      
  </section>

  {% endblock %}